<!DOCTYPE html>
<html>
  <body>
    <header>
      <nav class="navber navber-expand-lg navber-dark bg-dark" >
        <div class="container">
          <a class="navber-brand" href="/">
            <span>Bookers</span>
          </a>
        </div>
      </nav>

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <% if user_signed_in? %>
        <li>
          <%= link_to "Home", user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "Users", "/users" %>
        </li>
        <li>
          <%= link_to "Books", "/books" %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Home", "/" %>
        </li>
        <li>
          <%= link_to "About", "/about" %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <hooter>
      <div class="container", "mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </hooter>
  </body>
</html>
